/* @media (max-width: 1024px) {
  .table__area {
    margin: 0;
    overflow-x: auto;
  }
} */

@media (max-width: 1004px) {
  .tbody-background {
    top: 204px;
    width: 95.5%;
  }

  .td__fio {
    width: 180px;
  }
}

@media (max-width: 985px) {
  .tbody-background {
    top: 204px;
    width: 95.7%;
  }
}

@media (max-width: 958px) {
  .tbody-background {
    top: 220px;
    width: 95.7%;
  }
}

@media (max-width: 852px) {
  .tbody-background {
    width: 95%;
  }
}

@media (max-width: 825px) {
  /* .tbody-background {
    top: 220px;
    width: 95%;
  } */

  .thead-fio {
    display: inline-block;
    width: 180px !important;
    margin-right: 10px;
  }

  .thead-create {
    margin-right: 10px;
  }

  .thead-change {
    margin-right: 10px;
  }

  .thead-contacts {
    margin-right: 10px;
  }

  .tbody-id {
    padding-right: 20px !important;
  }

  .td__contacts {
    width: 150px;
  }

  .last-pic {
    margin-right: 25px;
  }

  .td__actions {
    width: 150px;
  }

  .btn-change {
    margin-bottom: 5px;
  }
}

@media (max-width: 782px) {
  .tbody-background {
    top: 236px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  /* Так и не смог скрыть скрол */
  .table__area {
    margin: 0;
    overflow-x: auto;
    /* overflow: hidden; */
  }

  .tbody-id {
    width: 80px !important;
  }

  .td__fio {
    width: 180px !important;
  }

  .thead-create {
    width: 84px !important;
    margin-right: 5px;
  }

  .td__create {
    width: 84px !important;
    margin-right: 5px;
  }

  .td__change {
    width: 81px !important;
    margin-right: 10px;
  }

  .thead-contacts {
    display: inline-block;
    width: 108px !important;
  }

  .td__contacts {
    width: 130px !important;
    margin-right: 10px;
  }

  .td__actions {
    width: 130px !important;
  }

  .tbody-background {
    top: 220px;
    width: 94.5%;
  }

  .last-pic {
    margin-right: 10px;
  }
}

@media (max-width: 720px) {
  .tbody-background {
    top: 236px;
    width: 94%;
  }
}

@media (max-width: 688px) {
  .tbody-background {
    top: 236px;
    width: 94%;
  }
}

@media (max-width: 657px) {
  .tbody-background {
    width: 94%;
  }
}

@media (max-width: 596px) {
  .tbody-background {
    top: 236px;
    width: 93.3%;
  }
}

@media (max-width: 320px) {
  .header {
    min-height: 40px;
  }

  .header__input {
    display: none;
  }

  .header__container {
    align-items: center;
    justify-content: center;
  }

  .header__logo {
    margin: 0;
  }

  .header__logo-img {
    width: 24px;
    height: 24px;
  }

  .main__title {
    font-size: 18px;
  }

  .td__contacts {
    width: 130px !important;
    margin-right: 10px;
  }

  .tbody-background {
    top: 204px;
    width: 87%;
  }

  .modal__add-content,
  .modal__change-content,
  .modal__delete-content {
    width: 300px;
  }

  .modal__add-body,
  .modal__change-body {
    margin: 0 15px 25px;
  }

  .modal__add-header,
  .modal__change-header {
    width: 282px;
    margin: 3px 3px 0 15px;
  }

  .modal__change-header {
    margin-bottom: 15px;
  }

  .form-floating,
  .modal__add-input,
  .modal__change-input,
  .add__form-input {
    width: 270px !important;
  }
}

